h2{
  line-height : 5px;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#imgAboutMe{
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: 25%;
}


.pic
{
  box-shadow: 6px 6px 7px #888888;
  width:300px;
  height:300px;
  position: relative;
  overflow: hidden;
  margin-top:100px;
  margin-left:145px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.pic:before
{
  content: '';
  margin-top:-63px;
  margin-left:-80px;
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: 	#696969;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.pic:hover , .envelope:hover , .pdf:hover,  .linkedin:hover , .logoI3:hover , .git:hover , .mobil:hover 
{
  box-shadow: 3px 3px 7px #888888;
  cursor:pointer;
}

.envelope
{
  box-shadow: 6px 6px 7px #888888;
  width:80px;
  height:80px;
  background-color: #1995ad;
  margin-top:-121px;
  margin-left:30px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.envelope .fa
{
  font-size:60px;
  margin-top:8px;
  margin-left:6px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color:#ffffff;
}

.pdf
{
  box-shadow: 6px 6px 7px #888888;
  width:80px;
  height:80px;
  background-color:#bcbabe;
  margin-top:1px;
  margin-left:185px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.pdf .fa
{
  font-size:60px;
  margin-top:8px;
  margin-left:13px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color:#ffffff;
}

.linkedin
{
  box-shadow: 6px 6px 7px #888888;
  width:80px;
  height:80px;
  background-color:#a1d6e2;
  margin-top:-4px;
  margin-left:106px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.linkedin .fa
{
  font-size:60px;
  margin-top:8px;
  margin-left:13px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color:#ffffff;
}

.logoI3
{
  box-shadow: 6px 6px 7px #888888;
  width:80px;
  height:80px;
  background-color:#bcbabe;
  margin-top:-80px;
  margin-left:321px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.logoI3 #logoI3
{
  width: 150%;
  margin-top:26%;
  margin-left:0;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.git
{
  box-shadow: 6px 6px 7px #888888;
  width:80px;
  height:80px;
  background-color:#a1d6e2;
  margin-top:-160px;
  margin-left:402px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.git .fa
{
  font-size:60px;
  margin-top:8px;
  margin-left:13px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color:#ffffff;
}

.mobil
{
  box-shadow: 6px 6px 7px #888888;
  width:80px;
  height:80px;
  background-color:#1995ad;
  margin-top:-155px;
  margin-left:480px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mobil .fa
{
  font-size:60px;
  margin-top:9px;
  margin-left:25px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color:#ffffff;
}

.content
{
  height:100%;
  width:500px;
  margin-left:5% ;
}

.contentHead
{
  font-size:60px;
  font-weight:500;
  text-decoration:underline;
  margin-left: 5%;
}

sup
{
  font-style: italic;
  font-size:smaller;
  line-height : 1.5;
}

.row{
  margin-left: 5%;
}




