body {
  overflow-x: hidden;
  background: url("https://s-media-cache-ak0.pinimg.com/736x/f4/ac/6a/f4ac6aac3afb587f6cae04155656fca3.jpg");
}

h1{
  text-decoration: underline overline
}

.topnav {
  overflow: hidden;
  background-color: black;
  position: fixed;
  z-index: 7;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-decoration: blink !important;
  text-align: center !important;
}

.topnav a:hover {
  background-color: #1995ad;
  color: black;
  text-decoration: underline !important;
}

.topnav a.active {
  background-color: #1995ad;
  color: white;
}

.topnav .icon {
  display: none;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 100%;
}

#logoI3 {
  margin-left: 40%;
  width: 40%;
}

#endFooter {
  background-color: #1995ad;
  padding: 2%;
  text-align: center;
  width: 100%;
}


@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    display: block;
  }
  #socialIcon{
    display: inline-block;
  }

}
