body {
  overflow-x: hidden;
  background: url("https://s-media-cache-ak0.pinimg.com/736x/f4/ac/6a/f4ac6aac3afb587f6cae04155656fca3.jpg");
}

h1 {
  text-decoration: underline overline;
}

footer {
  position: absolute;
  background-color: #1995ad;
  padding: 2%;
  text-align: center;
  width: 100%;
}

span {
  color: red;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 100%;
}

#topBtn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  outline: none;
  cursor: pointer;

  &.show {
    visibility: visible;
    opacity: 1;
  }
  
  &.hide {
    visibility: hidden;
    opacity: 0;
  }

}

.topnav {
  overflow: hidden;
  background-color: black;
  position: fixed;
  z-index: 7;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem 1.6rem;
  text-decoration: none;
  font-size: 1rem;
  text-decoration: blink !important;
  text-align: center !important;

}

.topnav .bouton:hover {
  background-color: #1995ad;
  color: black;
}

.topnav a.active {
  background-color: #1995ad;
  color: black;
}

.btns {
  background-color: #bcbabe;
  color: black;
  border: 2px solid #a1d6e2;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: var(--radius-md);
}

.btns {
  box-shadow: 6px 6px 7px #888888;
  font-size: 16px;
}

.btn{
  background-color: #bcbabe!important;
  border: 2px solid #a1d6e2!important;
}

.btn:hover {
  background-color: #1995ad!important;
  border: 2px solid #bcbabe!important;
}

.btns:hover {
  background-color: #1995ad;
  border: 2px solid #bcbabe;
  color: white;
}

.btns:active {
  background-color: #1995ad;
  border: 2px solid #bcbabe;
  color: white;
  transform: translateY(4px);
}

.topBtn{
  border-radius: 50%;
  box-shadow: 6px 6px 7px #888888;
  background-color: #bcbabe;
  border: 2px solid #a1d6e2;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.topBtn:hover {
  background-color: #1995ad;
  border: 2px solid #bcbabe;
  color: white;
}

.topBtn:active {
  background-color: #1995ad;
  border: 2px solid #bcbabe;
  color: white;
  transform: translateY(4px);
}

@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    display: block;
  }

  #homeTab {
    width: 130%;
  }
  
}



.hidden {
  display: none;
}

$menu_backgroundColor: #222222;
$menu_linkColor: #9d9d9d;
$menu_linkColor-current: #ffffff;
$menu_linkColor-hover: #ffffff;
$menu_linkBackgroundColor-current: #000000;
$menuButton_backgroundColor: #3d3d3d;
$menuButton_textColor: #ffffff;
$menu_bottomBorderColor: #101010;

.menu {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  text-transform: uppercase;
  background-color: $menu_backgroundColor;
  
  // &_items {
     
    
  // }
  
  &_item {
    
      // &-current {
      //     background-color: $menu_linkBackgroundColor-current;
      // }
      
      @media (max-width: 47.5em) {
          display: inline-block;
      }
  }
  
  &_buttonWrapper{
      display: none;
      &:after {
          content: '';
          display: table;
          clear: both;
      }

      @media (max-width: 47.5em) {
          display: block;
          padding: 1em;
          margin-bottom: .5em;
          
          color: $menu_linkColor;
          border-bottom: .125rem solid $menu_bottomBorderColor;
          
          -webkit-box-shadow: 0 .125rem 0 rgba(255,255,255,.1);
          box-shadow: 0 .125rem 0 rgba(255,255,255,.1);
      }
  }
  
  &_button {
      box-sizing: border-box;
      float: left;
      display: flex;
      align-items: center;
      padding: .5em 1em;
      
      color: $menuButton_textColor;
      background-color: $menuButton_backgroundColor;
      border-radius: .5rem;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      
      &:hover {
          cursor: pointer;
      }
  }    
  
  &_text {
      display: inline-block;
      margin-right: .5em;
      line-height: 1;
  }
  
  &_hamburger {
      width: 1em;
      height: 1em;
      fill: $menuButton_textColor;
  }
}
