h3{
  margin-left: 1%;
}

.card{
  background-color: #bcbabe;
}

.accordion {
  background-color: #a1D6e2;
  color: black;
  padding: 4px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 0.8em;
  transition: 0.4s;
  width: 76% !important;
  height: 5%!important;
  box-shadow: 6px 6px 7px #888888;
}

.card-body{
  color: white;
  padding: 0.55rem;
  background-color: #1995ad;
  text-align: center;
  font-size: large;
}

.card-header {
  padding: 0.3rem 1.25rem;
  text-align: center;
}

.cardBtn:hover {
    background-color: #1995ad;
    border: 2px solid #bcbabe;
  }
  
.cardBtn:active {
  transform: translateY(4px);
}

.accordion:after {
  color:#1995ad;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.btn-link{
  color: black;
  margin: 1%;
}

.btn-link:hover{
  color: white!important;
}

.btn-link:active {
  background-color: #1995ad!important;
  border: 2px solid #bcbabe!important;
}

#panel {
  padding: 0 18px;
  background-color: #a1D6e2;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

section#skills {
  margin-top: 3%;
}

div#mySkills {
  text-align: -webkit-center;
}

